header {
	grid-column: 1/13;
	position: relative;
	border-bottom: 1px dashed $lightgray;
	color: $darkgray;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.title {
		padding: 0 1rem;
		float: left;
		margin: 1rem 0;
		font-size: 1em;

		a {
			text-decoration: none;
		}

		&:link:not(:hover) {
			text-decoration: none;
		}
	}
	.nav {
		position: absolute;
		display: inline-block;
		right: 0;
		padding: 0;
		list-style: none;

		&-item {
			display: inline-block;
			margin-right: 1em;

			a[href]:not(:hover) {
				text-decoration: none;
			}

			&-active {
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}
}
