.direct-link {
	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}

a[href].direct-link {
	color: transparent;

	&:visited {
		color: transparent;
	}
	&:focus {
		color: #aaa;
		&:visited {
			color: #aaa;
		}
	}
}
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
	color: #aaa;
}
